* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --color-base-blue-300: rgba(255, 255, 255, 0.20);
  --color-base-blue-100: #F4FCFF;
  --color-base-blue-400: #387E96;
  --color-base-blue-500: #065E7C;
  --color-base-white: #FFFFFF;
  --color-base-gray-500: #202024;
  --color-base-gray-900: #121214;
}

html, body, input {
  font-family: 'Mulish', sans-serif;
}

body {
  font-size: 1.6rem;
}

.container {
  width: min(43rem, 100%);
  margin-inline: auto;
}

header {
  display: flex;
  align-items: center;
  gap: 2.6rem;

  background-color: var(--color-base-blue-500);
  padding: 1.2rem 2.8rem;
}

.logo:hover,
.autor:hover,
.like:hover,
.dislike:hover {
  transform: scale(1.1);
}


header form {
  flex: 1; 
}

.autor {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}

.input-wrapper label{ 
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.6rem;
  border-radius: .4rem;
  border: 0;

  border-radius: 4px;
  background-color: var(--color-base-blue-300); 
  
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-base-white);
}

.input-wrapper input:hover {
  background-color: rgba(255, 255, 255, 0.30);
}

.input-wrapper input::placeholder {
  color: var(--color-base-white);
}

main {
  overflow-y: scroll;
}

.cover {
  width: 100%;
  border-radius: 0 0 .5rem .5rem;
}

.content {
  padding-bottom: 3.2rem;
}

.content h1, 
.content .buttons,
.content p {
  padding: 0 2.4rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.0rem;
}

.title {
  margin-top: 3.2rem;
}

.content h1,
.sidebar h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-base-gray-500);
  line-height: 160%;
}

.content p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-base-gray-900);
  line-height: 160%;

  margin-top: 3.2rem;
}

main button {
  width: 4.0rem;
  height: 4.0rem;

  background-color: var(--color-base-blue-500);
  border: 0;
  border-radius: 50%;
  padding: 1.2rem;

  margin-top: .8rem;
}

.like {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.57918 1.91459C7.70622 1.6605 7.96592 1.5 8.25 1.5C8.97935 1.5 9.67882 1.78973 10.1945 2.30546C10.7103 2.82118 11 3.52065 11 4.25V5H14.1179C14.3664 4.99953 14.6121 5.05216 14.8385 5.15438C15.0653 5.25673 15.2676 5.40643 15.4317 5.59342C15.5958 5.78041 15.7181 6.00036 15.7902 6.23849C15.8619 6.47556 15.8824 6.72518 15.8501 6.97074L15.1004 12.9687C15.0473 13.3903 14.8426 13.7781 14.5247 14.0598C14.2067 14.3416 13.7971 14.498 13.3722 14.5L13.3687 14.5H2.75C2.41848 14.5 2.10054 14.3683 1.86612 14.1339C1.6317 13.8995 1.5 13.5815 1.5 13.25V7.75C1.5 7.41848 1.6317 7.10054 1.86612 6.86612C2.10054 6.6317 2.41848 6.5 2.75 6.5H5.28647L7.57918 1.91459ZM5 8H3V13H5V8ZM6.5 13H13.3664C13.4267 12.9995 13.4847 12.9771 13.5299 12.9371C13.5753 12.8969 13.6045 12.8415 13.6121 12.7813L14.362 6.78197L14.3628 6.77594C14.3674 6.74147 14.3646 6.70641 14.3545 6.67312C14.3444 6.63983 14.3273 6.60909 14.3044 6.58295C14.2815 6.55681 14.2532 6.53589 14.2215 6.52158C14.1898 6.50727 14.1554 6.49991 14.1206 6.5L14.1187 6.5H10.25C9.83579 6.5 9.5 6.16421 9.5 5.75V4.25C9.5 3.91848 9.3683 3.60054 9.13388 3.36612C9.0032 3.23544 8.84657 3.13668 8.67609 3.07486L6.5 7.42705V13Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50%; 
}

.dislike {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 3V8H5V3H3ZM6.5 3V8.57295L8.67609 12.9251C8.84657 12.8633 9.0032 12.7646 9.13388 12.6339C9.3683 12.3995 9.5 12.0815 9.5 11.75V10.25C9.5 9.83579 9.83579 9.5 10.25 9.5H14.1187L14.1206 9.5C14.1554 9.50009 14.1898 9.49273 14.2215 9.47842C14.2532 9.46412 14.2815 9.44319 14.3044 9.41705C14.3273 9.39091 14.3444 9.36017 14.3545 9.32688C14.3646 9.29359 14.3674 9.25853 14.3628 9.22406L14.362 9.21803L13.6121 3.21874C13.6045 3.15852 13.5753 3.10313 13.5299 3.06288C13.4848 3.02288 13.4267 3.00056 13.3664 3H6.5ZM5.28647 9.5H2.75C2.41848 9.5 2.10054 9.36831 1.86612 9.13388C1.6317 8.89946 1.5 8.58152 1.5 8.25V2.75C1.5 2.41848 1.6317 2.10054 1.86612 1.86612C2.10054 1.6317 2.41848 1.5 2.75 1.5H13.3687L13.3722 1.50001C13.7971 1.50199 14.2067 1.65844 14.5247 1.9402C14.8426 2.22195 15.0473 2.60975 15.1004 3.03126L15.1005 3.03197L15.8501 9.02925C15.8824 9.27481 15.8619 9.52444 15.7902 9.76151C15.7181 9.99964 15.5958 10.2196 15.4317 10.4066C15.2676 10.5936 15.0653 10.7433 14.8385 10.8456C14.6121 10.9478 14.3665 11.0004 14.1181 11H11V11.75C11 12.4793 10.7103 13.1788 10.1945 13.6945C9.67882 14.2103 8.97935 14.5 8.25 14.5C7.96592 14.5 7.70622 14.3395 7.57918 14.0854L5.28647 9.5Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50%; 
}

.item {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  margin-top: 3.2rem; 
}

.item h2 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 160%;
  color: var(--color-base-gray-500);
}

.item p {
  font-size: 1.4rem;
  line-height: 160%;
  color: var(--color-base-gray-900);
}

.sidebar {
  padding: 0 2.4rem 3.2rem;
}   


footer {
  background-color: var(--color-base-blue-400);
  padding: 1.6rem;

  text-align: center;
}

footer p {
  color: var(--color-base-white);
  font-size: 1.6rem;
  font-weight: 600;
} 

@media (min-width: 1024px) {

  #app {
    display: grid;
    height: 100vh;
    grid-template-rows: max-content 1fr max-content;
  }

  .container {
    width: min(144rem, 100%);
    margin-inline: auto;
  }

  header {
    padding: 1.2rem 12.0rem;
    gap: 3.2rem;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3.2rem;

    padding: 0 12.0rem;

    background-color: var(--color-base-blue-100);
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content,
  .sidebar {
    margin-top: 4.4rem; 
  }

  .content img {
    border-radius: .5rem;
  }

  .content h1, 
  .content .buttons,
  .content p,
  .sidebar {
    padding: 0;
}

}

/*animações*/

header { 
  --startY: -100%;
  animation: move .4s;
}

footer { 
  --startY: 100%;
  animation: move .4s;
}

@keyframes move { 
  from {
    transform: translateY(var(--startY)); 
  }
}